* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: rgba(0, 34, 255, 0.229);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.cards {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  height: 320px;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  padding-bottom: 20px !important;
  cursor: pointer;
}
.cards:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(0.99);
}
.cards h4 {
  bottom: 160px;
  margin-top: 20px;
  text-align: center;
}
.cards img {
  height: 160px;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  object-fit: cover;
  margin-bottom: 1rem;
  margin: 0 !important;
}

.card-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.278);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.modal-content {
  width: 700px;
  min-height: 500px;
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 30px 90px;
  transition: all 0.2s ease-in;
}
.modal-content i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.m-head {
  border-bottom: 1px solid #000;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}
.m-head h4 {
  width: 90%;
}

.none {
  background: none;
  transition: all 0.2s ease-in;
  transform: translateY(-200%);
}

.m-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-left: 20px;
}

.loader {
  position: relative;
  width: 108px;
  display: flex;
  justify-content: space-between;
}

.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #FFF;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
  border: 1px solid black;
}

@keyframes eyeMove {
  0%, 10% {
    background-position: 0px -5px;
  }
  13%, 40% {
    background-position: -15px 0px;
  }
  43%, 70% {
    background-position: 15px 0px;
  }
  73%, 90% {
    background-position: 0px 15px;
  }
  93%, 100% {
    background-position: 0px 0px;
  }
}
@keyframes blink {
  0%, 10%, 12%, 20%, 22%, 40%, 42%, 60%, 62%, 70%, 72%, 90%, 92%, 98%, 100% {
    height: 48px;
  }
  11%, 21%, 41%, 61%, 71%, 91%, 99% {
    height: 18px;
  }
}
.note {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.note span {
  position: absolute;
  top: -60px;
}

.loader1 {
  margin: 100px auto;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
i {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    max-width: 90vw;
  }
}/*# sourceMappingURL=style.css.map */